
.form-login{
    position: relative;
}
#login{
    position: absolute;
    top: 35%;
    /* transform: translate(-50%, -50%); */
    padding: 5% 0;
    padding-left: 0;
    width: 100%;
}
.user{
    width: 70%;
    top: 50%;
    position: absolute;
}
.title{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.heading{     
    position: absolute;
    top: 20%;
    /* transform: translate(-50%, -50%); */
    color:#1D5C63;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
}
.login-head{
    position:absolute;
    color:#1D5C63;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
  line-height: 72px;
  top: 23%;
}
.logo{
    position: absolute;
    top: 35%;
}

#email,#password{
    /* position: absolute; */
    margin-bottom: 5%;
    width: 600px;
    padding: 1%;
    border-radius: 10px;
    background:#EFF0F2;
}

#submit{
    margin: 1%;
    position: absolute;
    top: 75%;
    left: 13%;
    width:50%;
    background: #007074;
    padding: 10px;
    border-radius: 10px;
    color:#ffffff;
    font-size:26px;
}
#register{
    margin: 0;
    position: absolute;
    top: 100%;
    left: 23%;
    font-size: 18px;
    color: #000000;    
}
#tab-user{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #1D5C63;
margin-right: 5%;
}
#tab-admin{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: rgba(29, 92, 99, 0.5);

}
.tabs{
    position: relative;
    top: 34%;
}
::placeholder{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #838383;

}

#reg{
    display:none;
}
#log{
    display:block;
}

/*register*/

.heading-reg{
    position: absolute;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;
color: #1D5C63;
}
#register_form{
    position: absolute;
    left: 0%;
    top: 10%;
   /* transform: translate(-50%, -50%); */
    padding: 10px;
}
label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #4D5959;
margin-bottom: 0;
}
input{
    margin:10px 0;
    padding:10px;
    width:600px;
    border-radius: 8px;
    background-color: #EFF0F2;
    border: none;
}
#acc-btn{
    width:65%;
    left:16%;
    position: absolute;
    margin: 1%;
    border-radius: 8px;
    background: #007074;
    padding: 10px;
    color:#ffffff;
    font-size: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 30px;
border: none;
}
#login-page{

    position: absolute;
    top: 110%;
    left: 32%;
    font-size: 18px;
    color: #000000;
    margin-bottom: 5%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #4D5959;
}


