
.form-login{
    position: relative;
}
#login{
    position: absolute;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    padding: 5%;
    padding-left: 0;
    width: 100%;
}
.title{
    position: relative;
}
.heading{     
    position: absolute;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    color:#1D5C63;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
}
.logo{
    position: absolute;
    top: 75%;
}
label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #4D5959;

}
#email,#password{
    /* position: absolute; */
    margin-bottom: 5%;
    width: 600px;
    padding: 1%;
    border-radius: 10px
}

#submit{
    margin: 1%;
    position: absolute;
    top: 75%;
    left: 20%;
    width:50%;
    background: #007074;
    padding: 10px;
    border-radius: 10px;
    color:#ffffff;
    font-size:26px;
}
#register{
    margin: 0;
    position: absolute;
    top: 100%;
    left: 26%;
    font-size: 18px;
    color: #000000;    
}
