<!-- <h1>LOGIN</h1> -->
<div class="row" style="height:100%">
  <div class="col-1"></div>
<div class="col-4 title">
  <h1 class="heading">Welcome to</h1>
  <img class="logo" src="../../assets/images/circular economy logo.png" alt="logo">
</div>
<div class="col-1"></div>
<div class="col-6 form-login">
  <h3 style="position:absolute;color:#1D5C63;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 48px;
  line-height: 72px;top: 40%;">Login</h3>
  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" id="login">
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email" placeholder="email" [email]="true">
  <br>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" placeholder="password">
    <br>
<button id="submit" type="submit">Submit</button>
<br>
<a routerLink="/register" id="register">Don't have an account?<span style="color:#4D5959">Sign Up</span></a>
  </form>
</div>

</div>
