<div class="row" style="height:100%">
  <div class="col-1"></div>
<div class="col-4 title">
  <h1 class="heading">Welcome to</h1>
  <img class="logo" src="../../assets/images/circular economy logo.png" alt="logo">
  <img id="userlog" class="user" src="../../assets/images/User Login.png" alt="User">
  <img id="adminlog" class="user" src="../../assets/images/Admin Login.png" alt="admin">
</div>
<div class="col-1"></div>
<!--LOGIN COMPONENT-->
<div id="log" class="col-6 form-login">
  <h3 class="login-head">Login</h3>
  <p class="tabs">
    <a (click)="openuser()" id="tab-user">User Login</a>
    <a (click)="openadmin()" id="tab-admin">Admin Login</a>
  </p>

  <!-- user login -->

  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" id="userlogin">
    <label for="email">Email</label><br>
    <input id="email1" type="text" formControlName="email" placeholder="enter your email here" [email]="true">
    <br>
    <label for="password">Password</label><br>
    <input id="password1" type="password" formControlName="password" placeholder="enter your password">
    <br>
    <button id="submit" type="submit">Submit</button>
    <br>
    <a (click)="register()" id="register">Don't have an account?<span style="color:#4D5959">Sign Up</span></a>
  </form>

  <!-- admin login -->

  <form id="adminlogin">
    <label for="email">Email</label><br>
    <input id="email-admin" type="text" placeholder="enter your admin-email here">
    <br>
    <label for="password">Password</label><br>
    <input id="password-admin" type="password" placeholder="enter your password">
    <br>
    <button id="admin-submit" type="submit">Submit</button>
    <br>
    <a (click)="register()" id="register">Don't have an account?<span style="color:#4D5959">Sign Up</span></a>
  </form>
</div>
<!--REGISTER COMPONENT-->
<div id="reg" class="col-6 form-reg">
  <h1 class="heading-reg">Sign Up</h1>
    <div id="register_form">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label for="firstname">First Name: </label><br>
      <input id="firstname" type="text" formControlName="firstname" placeholder="enter firstname">
      <br>
      <label for="lastname">Last Name: </label><br>
      <input id="lastname" type="text" formControlName="lastname" placeholder="enter lastname">
      <br>
      <label for="mobile">Mobile Number: </label><br>
      <input id="mobile" type="number" formControlName="mobile" placeholder="enter mobile">
      <br>
      <label for="email">Email: </label><br>
      <input id="email" type="email" formControlName="email" placeholder="enter email">
      <br>
      <label for="username">Username: </label><br>
      <input id="username" type="text" formControlName="username" placeholder="enter username">   
      <br>
      <!-- <label for="age">Enter Age: </label>
      <input id="age" type="number" formControlName="age">   
      <br>   -->
      <label for="password">Password: </label><br>
      <input id="password" type="password" formControlName="password" placeholder="enter password">
      <br>
      <button id="acc-btn" type="submit" [disabled]="!profileForm.valid">Create Account</button>
      <a (click)="login()" id="login-page" >Already registered?<span style="color:#007074">Log in</span></a>
    </form>
    
  </div>
</div>
