<div class="main">
   <img class="logo" src="../../assets/images/circular economy logo.png" alt="logo">
   <div class="topnav">
     <input type="text" placeholder="I am looking for?">
     <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
   </div>
   <span class="track">Track Your Request</span>
   <button class="logout" (click)="LogOut()">LogOut</button>
</div>
<hr class="line">
<div *ngIf="LoggedIn()">
   <div *ngIf="admin" >
      <div class="menu">
         <ul id="menu-items" class="admin-menu-item">
            <li  routerLink="/landing">Home</li>
            <li  routerLink="/inventory">Inventory</li>
            <!-- <li  routerLink="/messages">Messages</li> -->
            <!-- <li  routerLink="/reports">Reports</li> -->
            <!-- <li  routerLink="/about">About</li> -->
            <li  routerLink="/profile">Profile</li>
            <li routerLink="/add-product">Admin-panel</li>
         </ul>
      </div>
   </div>
   <div *ngIf="user" >
      <div class="menu">
         <ul id="menu-items" class="user-menu-item">
            <li  routerLink="/landing">Home</li>
            <li  routerLink="/inventory">Inventory</li>
            <!-- <li  routerLink="/messages">Messages</li> -->
            <!-- <li  routerLink="/reports">Reports</li> -->
            <!-- <li  routerLink="/about">About</li> -->
            <li  routerLink="/profile">Profile</li>
            <!-- <li routerLink="/add-product">Admin-panel</li> -->
         </ul>
      </div>
   </div>
</div>



