<div>
    <app-menu></app-menu>
</div>
<div class="main-div row" > 
    <div class="vertical-div col-2" style="cursor:pointer">    
            <!-- <img routerLink="/landing" class="admin-logo" src="../../assets/images/circular economy logo.png" alt="logo"> -->
            <p class="options" (click)="func_dashboard($event)" [ngStyle]="{color:getdcolor()}">
                <span class="icon"><img src="../../assets/images/dashboard.svg" alt="dashboard"></span>
                <span class="text">Add product</span>
            </p>
            <hr class="divider">
            <p class="options" (click)="func_product($event)" [ngStyle]="{color:getpcolor()}">
                <span class="icon"><img src="../../assets/images/manage user.svg" alt="dashboard"></span>
                <span class="text">Manage Products</span>
            </p>
            <hr class="divider">
            <p class="options" (click)="func_user($event)" [ngStyle]="{color:getucolor()}">
                <span class="icon"><img src="../../assets/images/manage user.svg" alt="dashboard"></span>
                <span class="text">Manage User</span>
            </p>
            <hr class="divider">
            <p class="options" (click)="func_userlist($event)" [ngStyle]="{color:getulcolor()}">
                <span class="icon"><img src="../../assets/images/manage user.svg" alt="dashboard"></span>
                <span class="text">Users</span>
            </p>
            <hr class="divider">
            <p class="options" (click)="func_request($event)" [ngStyle]="{color:getrcolor()}">
                <span class="icon"><img src="../../assets/images/request.svg" alt="dashboard"></span>
                <span class="text">Request</span>
            </p>                               
    </div>
    <hr class="line"> 
    <div class="col-9">
        <!-- <div class="profile-icons">
            <img src="../../assets/images/notification.svg" alt="notification"> 
            <img src="../../assets/images/Message.svg" alt="message">            
        </div>   -->
        <div>
            <div *ngIf="dashboard" class="content-div" >
                <div class="drag-area">
                    <span class="icon-file">
                        <!-- <button color="tertiary" (click)="uploadFile()">Upload</button> -->
                        <!-- <button color="danger" (click)="deletephoto()">Delete</button> -->
                        <button><input #imageInput type="file" accept="image/*" (change)="processFile($event)"></button>                    
                    </span>
                </div> 
                <div class="add-product-form">
                    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-details">
                        <!-- [formGroup]="productForm" (ngSubmit)="onSubmit()" -->
                        <label for="nameproduct">Name of Product </label><br>
                        <input id="nameproduct" type="text" formControlName="nameproduct" placeholder="enter name here">
                        <br>
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" formControlName="quantity" min="0" max="100" step="10" value="30" placeholder="enter quantity">
                        <br>
                        <label for="description">Description of Product </label><br>
                        <textarea id="description" rows="4" formControlName="description" placeholder="enter description"></textarea>
                        <br>
                        <label for="location">Location of Product </label><br>
                        <input id="location" type="text" formControlName="location" placeholder="enter location here">
                        <br>
                        <label for="serial">Serial Number of Product </label><br>
                        <input id="serial" type="text" formControlName="serial" placeholder="enter serial number">
                        <br>
                        <label for="brand">Brand of product </label><br>
                        <input id="brand" type="text" formControlName="brand" placeholder="enter brand here">   
                        <br>
                        <!-- <label for="age">Enter Age: </label>
                        <input id="age" type="number" formControlName="age">   
                        <br>   -->
                        <label for="year">Year of Product Manufacture </label><br>
                        <input id="year" type="date" formControlName="year" placeholder="enter manufacture date">   
                        <br>
                        <button class="product-submit" type="submit" (click)="uploadFile()">Submit</button>
                    </form>
                    <div id="id02" class="modal">
                        <form class="modal-content">
                            <img class="modal-icon" src="../../assets/images/Success.svg" alt="trash">
                            <div class="container">
                              <h1 class="modal-heading">SUCCESS</h1>
                              <p>Thank you for your request</p>
                      
                            <div class="clearfix">
                              <button class="modal-button" type="button" class="okaybtn" (click)="okaypopup()">Okay</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="user" class="user_div">            
            <!-- <div>users</div> -->
            <div class="search_user">
                <!-- <app-searchbar (searchTextChanged)="onSearchTextEntered($event)"></app-searchbar> -->
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                <!-- <input type="search" placeholder="search"> -->
                <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
            </div>
            <div>
                <table>
                    <tr class="headings">
                        <th>Name</th>
                        <th>CompanyId</th>
                        <th>Action</th>
                    </tr>
                    <!-- *ngIf="searchtext === '' || list.firstname.toLowerCase().includes(searchtext)" -->
                        <tr *ngFor="let list of userlist | filter:term"  class="user_data">
                            <td class="user_name">{{list.firstname}}</td>
                            <td class="user_id">{{list.id}}</td>
                            <td>
                                <button (click)="adduser(list)" class="accept-button">Accept</button>
                                <button (click)="opendeletepop(list)" class="decline-btn">Decline</button>
                            </td>
                            <hr>                                                   
                        </tr>
                        <hr>                    
                </table>
            </div> 
            <div id="id02" class="modal">
                <form class="modal-content">
                    <img class="modal-icon" src="../../assets/images/Success.svg" alt="trash">
                    <div class="container">
                      <h1 class="modal-heading">SUCCESS</h1>
                      <p>Thank you for your request</p>
              
                        <div class="clearfix">
                            <button class="modal-button" type="button" class="okaybtn" (click)="okaypopup()">Okay</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="id01" class="modal">
                <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
                <form class="modal-content">
                    <img class="modal-icon" src="../../assets/images/Trash.svg" alt="trash">
                    <div class="container">
                      <h1 class="modal-heading">Are you sure?</h1>
                      <p>Do you Really want to delete these records?<br>
                      This process cannot be undone</p>
              
                    <div class="clearfix">
                      <button class="modal-button" type="button" class="cancelbtn" (click)="cancelbtn()">Cancel</button>
                      <button class="modal-button" type="button" class="deletebtn" (click)="deleteuser(uid)">Delete</button>
                    </div>
                  </div>
                </form>
              </div>   
        </div>
        <!-- <div *ngIf="request">
            <app-product-request></app-product-request>
        </div> -->
        <div *ngIf="request">
            <div class="search_user">
                <!-- <app-searchbar (searchTextChanged)="onSearchTextEntered($event)"></app-searchbar> -->
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                <!-- <input type="search" placeholder="search"> -->
                <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
            </div>            
            <ng-container>
                <div id="reqitem">                    
                    <table class="req-table">
                        
                            <tr class="headings">
                                <th>Name</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Action</th>
                                <!-- <th>Delete</th> -->
                            </tr>                        
                            <!-- *ngIf="searchtext === '' || req.employeename.toLowerCase().includes(searchtext)" -->
                            <tr *ngFor="let req of item | filter:term;let i=index">
                                <td><p>{{req.employeename}}</p>
                                <p style="color:#1D5C63;">{{req.requestDate}}</p></td>
                                <td>{{req.name}}</td>
                                <td>{{req.quantity}}</td>
                                <td>
                                    <div class="row justify-content-between">
                                        <div id="order{{i}}" class="order-tracking" (click)="reviewRequest(req,i)" [class.completed]="req.track[0].review === true">
                                            <span class="is-complete"></span>
                                            <p>Reviewed</p>
                                            <p>{{req.track[0].reviewdate}}</p>
                                        </div>
                                        <div id="process{{i}}" class="order-tracking" (click)="processRequest(req,i)" [class.completed]="req.track[0].process === true">
                                            <span class="is-complete"></span>
                                            <p>Processed</p>
                                            <p>{{req.track[0].processdate}}</p>
                                        </div>
                                        <div id="accept{{i}}" class="order-tracking" (click)="acceptRequest(req,i)" [class.completed]="req.track[0].accept=== true">
                                            <span class="is-complete"></span>
                                            <p>Accepted</p>
                                        </div>
                                        <div id="deliver{{i}}" class="order-tracking" (click)="deliverRequest(req,i)" [class.completed]="req.track[0].deliver === true">
                                            <span class="is-complete"></span>
                                            <p>Delivered</p>
                                        </div>
                                        
                                    </div>
                                    <!-- <button (click)="deleterequest(req)" class="decline-btn">Decline</button> -->
                                </td>
                                <td>
                                    <!-- <img src="../../assets/images/delete.png" alt="delete" style="width:80%" (click)="deleterequest(req)"> -->
                                    <img src="../../assets/images/delete.png" alt="delete" style="width:80%" (click)="opendeletepopup(req)">
                                </td>
                                <hr>
                            </tr>                  
                        <hr>
                    </table>
                </div>
            </ng-container>
            <div id="id02" class="modal">
                <form class="modal-content">
                    <img class="modal-icon" src="../../assets/images/Success.svg" alt="trash">
                    <div class="container">
                      <h1 class="modal-heading">SUCCESS</h1>
                      <p>Thank you for your request</p>
              
                        <div class="clearfix">
                            <button class="modal-button" type="button" class="okaybtn" (click)="okaypopup()">Okay</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="id01" class="modal">
                <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
                <form class="modal-content">
                    <img class="modal-icon" src="../../assets/images/Trash.svg" alt="trash">
                  <div class="container">
                    <h1 class="modal-heading">Are you sure?</h1>
                    <p>Do you Really want to delete these records?<br>
                    This process cannot be undone</p>
              
                    <div class="clearfix">
                      <button class="modal-button" type="button" class="cancelbtn" (click)="cancelbtn()">Cancel</button>
                      <button class="modal-button" type="button" class="deletebtn" (click)="deleterequest(rid)">Delete</button>
                    </div>
                  </div>
                </form>
              </div>
        </div>
        <!-- <div *ngIf="product">
            <app-manage-product></app-manage-product>
        </div> -->
        <div id="add">
            <div *ngIf="product">
                <div class="search_user">
                    <!-- <app-searchbar (searchTextChanged)="onSearchTextEntered($event)"></app-searchbar> -->
                    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                    <!-- <input type="search" placeholder="search"> -->
                    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                </div>  
                <ng-container>
                    <div>
                        <table>
                            <tr>
                                <th>Product</th>
                                <th>Product Name</th>
                                <th>Location</th>
                                <th>Stock</th>
                                <th>Action</th>
                            </tr>
                            <tr *ngFor="let prod of productlist | filter:term;let i=index">
                                <td class="prod-img">
                                    <img src="http://3.111.188.154:3000/api/containers/images/download/{{prod.imagename}}"/>
                                </td>
                                <td>{{prod.name}}</td>
                                <td>{{prod.location}}</td>
                                <td>{{prod.quantity}}</td>
                                <td>
                                    <div class="action-tab">
                                        <!-- <img src="../../assets/images/edit.png" alt="edit" (click)="openpopup(prod)"> -->
                                        <img class="editp" src="../../assets/images/edit.png" alt="edit" (click)="editproduct(prod)">
                                        <img class="deletep" src="../../assets/images/delete.png" alt="delete" (click)="opendeleteproduct(prod)">
                                    </div>                                    
                                </td>
                                <hr>
        
                                <div id="id01" class="modal">
                                    <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
                                    <form class="modal-content">
                                        <img class="modal-icon" src="../../assets/images/Trash.svg" alt="trash">
                                        <div class="container">
                                          <h1 class="modal-heading">Are you sure?</h1>
                                          <p>Do you Really want to delete these records?<br>
                                          This process cannot be undone</p>                                 
                                        <div class="clearfix">
                                          <button class="modal-button" type="button" class="cancelbtn" (click)="cancelbtn()">Cancel</button>
                                          <button class="modal-button" type="button" class="deletebtn" (click)="deleteproduct(prodid)">Delete</button>
                                        </div>
                                      </div>
                                    </form>
                                </div>
                            </tr>
                            <hr>
                        </table>
                    </div>
                </ng-container>
            </div>
        </div>
        <div id="edit">
            <div *ngIf="product" class="content-div">
                <div class="add-product-form">
                    <form [formGroup]="editproductForm" class="form-details">
                        <!-- [formGroup]="productForm" (ngSubmit)="onSubmit()" -->
                        <label for="nameproduct">Name of Product </label><br>
                        <input id="nameproduct" type="text" formControlName="nameproduct" [(ngModel)]="eprod.name">
                        <br>
                        <label for="quantity">Quantity:</label><br>
                        <input type="number" id="quantity" formControlName="quantity" min="0" max="100" step="10" value="30" [(ngModel)]="eprod.quantity" >
                        <br>
                        <label for="description">Description of Product </label><br>
                        <textarea id="description" rows="4" formControlName="description" [(ngModel)]="eprod.description"></textarea>
                        <br>
                        <label for="location">Location of Product </label><br>
                        <input id="location" type="text" formControlName="location" [(ngModel)]="eprod.location">
                        <br>
                        <label for="serial">Serial Number of Product </label><br>
                        <input id="serial" type="text" formControlName="serial" [(ngModel)]="eprod.serial">
                        <br>
                        <label for="brand">Brand of product </label><br>
                        <input id="brand" type="text" formControlName="brand" [(ngModel)]="eprod.brand">   
                        <br>
                        <!-- <label for="age">Enter Age: </label>
                        <input id="age" type="number" formControlName="age">   
                        <br>   -->
                        <label for="year">Year of Product Manufacture </label><br>
                        <input id="year" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" formControlName="year" [(ngModel)]="eprod.year">   
                        <br>
                        <div>
                            <button class="product-submit" type="submit" (click)="onSave()">Save</button>
                            <button class="decline-btn" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>  
        <div id="id02" class="modal">
            <form class="modal-content">
                <img class="modal-icon" src="../../assets/images/Success.svg" alt="trash">
                <div class="container">
                  <h1 class="modal-heading">SUCCESS</h1>
                  <p>Thank you for your request</p>
          
                <div class="clearfix">
                  <button class="modal-button" type="button" class="okaybtn" (click)="okaypopup()">Okay</button>
                </div>
              </div>
            </form>
        </div> 
        <div *ngIf="userslist">
            <div class="search_user">
                <!-- <app-searchbar (searchTextChanged)="onSearchTextEntered($event)"></app-searchbar> -->
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                <!-- <input type="search" placeholder="search"> -->
                <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
            </div> 
            <div id="userlist">
                <table>
                    <tr class="headings">
                        <th>Name</th>
                        <th>CompanyId</th>
                        <th>Action</th>
                    </tr>
                    <!-- *ngIf="searchtext === '' || list.firstname.toLowerCase().includes(searchtext)" -->
                        <tr *ngFor="let list of users | filter:term;let i=index"  class="user_data">
                            <td (click)="getuserdetails(list,i)" style="padding:5%">{{list.firstname}}</td>
                            <td>{{list.id}}</td>
                            <!-- <td>
                                <img class="deletep" src="../../assets/images/delete.png" alt="delete" (click)="opendeleteuser(list)">
                            </td> -->
                            <hr>                                                   
                        </tr>
                        <hr>                    
                </table>
            </div>
            <div id="userdesc">
                <div class="user-card">
                    <img src="../../assets/images/profile.jpg" alt="profile" style="width: 20%;">                    
                    <div class="user-info">
                        <h4>{{iufirstname}} {{iulastname}}</h4>
                        <h4>Contact Info</h4>
                        <div class="profile-info">
                            <img src="../../assets/images/email.png" alt="email">
                            <p>{{iuemail}}</p>
                        </div>
                        <div class="profile-info">
                            <img src="../../assets/images/phone.png" alt="phone">
                            <p>{{iumobile}}</p>
                        </div>                       
                    </div>                    
                </div>
                <div>
                    <h2>Products</h2>
                    <hr class="division">
                    <table class="deliver-table">
                        <tr>
                            <th>Item Name</th>
                            <th>Date of Delivery</th>
                            <th></th>
                        </tr>                    
                            <tr *ngFor="let t of total">
                                <td>{{t.name}}</td>
                                <td>{{t.track[0].deliverdate}}</td>
                                <td>
                                    <button class="return-btn">Returned</button>
                                </td>
                            </tr>
                            <!-- <p>{{t.track[0].deliverdate}}</p> -->    
                    </table>
                   
                </div>
                <div>
                    <h2>Products - Handed Over</h2>
                    <hr class="division">
                </div>

            </div>
            <!-- <div id="id01" class="modal">
                
                <form class="modal-content">
                    <img class="modal-icon" src="../../assets/images/Trash.svg" alt="trash">
                    <div class="container">
                      <h1 class="modal-heading">Are you sure?</h1>
                      <p>Do you Really want to delete these records?<br>
                      This process cannot be undone</p>                                 
                    <div class="clearfix">
                      <button class="modal-button" type="button" class="cancelbtn" (click)="cancelbtn()">Cancel</button>
                      <button class="modal-button" type="button" class="deletebtn" (click)="deleteapproveduser(ulid)">Delete</button>
                    </div>
                  </div>
                </form>
            </div> -->

        </div>      
    </div>        
</div>
