/* #EFF0F2 */

.form-control:focus{
  box-shadow:none;
  background: #EFF0F2;
}
.row{
    --bs-gutter-x: 0 !important;
  }
.admin-logo{    
    width:50%;
    margin: 5% 5%;
}
hr.line{    
  height: 850px;
  width: 2px;
  margin-left: 15%;
}
.vertical-div{
    display: block;
}
.content-div{
    display:flex;
    margin-top:0%;
}
.options{
    margin: 5% 6%;
}
.drag-area{
    height: 300px;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3% 3%;
    width: 50%;
}
label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 35px;
color: #4D5959;
}
.add-product-form{
    width:1000px;
}
#add{
  display:block;
}
#edit{
  display: none;
}
input{
    margin: 0px 0 15px 0;
    padding:12px;
    width:90%;
    border-radius: 8px;
    background-color: #EFF0F2;
    border: none;
}
.form-details{
    margin: 5% 0%;
}
::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}
.product-submit{
    /* margin: 1%; */
    position: absolute;
    /* top: 75%; */
    /* left: 13%; */
    width:10%;
    background: #007074;
    padding: 10px;
    border-radius: 10px;
    color:#ffffff;
    font-size:26px;
    border:none;
}
textarea{
    background-color: #EFF0F2;
    border: none;
    padding: 12px;
    width:90%;
}
#edit .product-submit{
  position: relative;
}
#edit .decline-btn{
  width: 10%;
    padding: 10px;
    background: #B4B4B4;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    margin: 2%;
    font-size: 26px;

}
/* #edit textarea{
  width:90%;
} */
input#img{
    background-color: transparent;
}
.text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
text-align: center;
/* color: #838383; */
margin-left: 5%;
}
.profile-icons{
    display:flex;
    flex-direction: row-reverse;
}
.profile-icons img{
    margin-left:2%;
    margin-top: 2%;
    margin-right: 2%;
}

.search_user{
    overflow: hidden;
    width: 15%;
    background: #EFF0F2;
    border: 1px solid rgba(169, 169, 169, 0.15);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 5% 0%;
}
.search_user input{
    padding: 6px;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 0px;
    font-size: 17px;
    width: 100%;
    outline:none;
}

table{
    width:90%;
    margin-left: 0%;
}

.user_div{
    width:100%;
}
.accept-button{
    background: #007074;
    width: 130px;
    height: 44px;
    left: 1070px;
    top: 375px;
    border-radius: 8px;
    color:#ffffff;
    border:none;
    margin-right:5%;
    margin-top: 5%;
}
.accept-btn, .review-btn, .process-btn, .deliver-btn{
    width: 130px;
    height: 44px;
    left: 1070px;
    top: 375px;
    border-radius: 8px;
    color:#ffffff;
    border:none;
    margin-right:5%;
    margin-top: 5%;
}
#order, #process, #accept, #deliver{
    /* background: #B4B4B4; */
    cursor:pointer;
}
.decline-btn{
    width: 130px;
height: 44px;
left: 1207px;
top: 375px;
background: #B4B4B4;
border-radius: 8px;
border:none;
color:#ffffff;
}

hr.divider{
    position: relative;
    left: 0%;
    width: 80%;
    height: 2px
}
hr.division{
  position: relative;
  left: 0%;
  width: 100%;
  height: 1px
}

hr{
  position: absolute;
  left:0%;
  width: 90%;
  height: 1px;
}

/* track */

.justify-content-between{
    width: 100%;
    margin: 10% auto;
}

#order{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
color: #1D5C63;
}

.hh-grayBox {
	background-color: #FFFFFF;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 25%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 4px solid #C4C4C4;
	background-color: #C4C4C4;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: 0px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 3px;
	background-color: #ffffff;
}
.order-tracking.completed .is-complete:after {
	border-color: 
    #417D7A;
    border-width: 10px;
    width: 10px;
    border-radius: 50%;
    left: 2px;
    opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color:  #1D5C63;;}
.order-tracking::before {
	content: '';
    display: block;
    height: 3px;
    width: calc(100% - 40px);
    background-color: #ffffff;
    top: 13px;
    position: absolute;
    border-color: #C4C4C4;
    border-style: dashed;
    left: calc(-50% + 20px);
    z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{
    background-color: #ffffff;
    border-style: dashed;
    border-color: #417D7A;
}

.req-table th{
    text-align: center;
}
.req-table td{
    text-align: center;
}
.action-tab{
    margin: 5% 0%;
}
.action-tab img{
    padding: 7% 3%;
}
.prod-img{
    width:10%;
}
.prod-img img{
    width: 50%;
}
th{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #838383;
}
td{
    /* text-align: center; */
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #838383;
}

/* popup */

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    background: #007074;
    width: 100%;
    height: 44px;
    left: 1070px;
    top: 375px;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    margin-right: 5%;
    margin-top: 5%;
  }
  .formContainer .cancel {
    width: 100%;
    height: 44px;
    left: 1207px;
    top: 375px;
    background: #B4B4B4;
    border-radius: 8px;
    border: none;
    color: #ffffff;
  }
  /* .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  } */

  .formContainer span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #838383;
  }

  #id01{
    display:none;
  }
  #id02{
    display:none;
  }

  .okaybtn{
    background: #34B36A;
border-radius: 20px;
width:30%; 
padding: 2%;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
color: #FFFFFF;
border: none;
  }

  /* float pop up */

  .modal-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .modal-button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  /* .cancelbtn, .deletebtn {
    float: left;
    width: 47%;
  } */
  
  /* Add a color to the cancel button */
  .cancelbtn {
    width: 30%;   
    background: #E6E6E6;
    border-radius: 20px;
    padding:2%;
    margin: 0% 5%;
    border:none;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    width: 30%;
    padding:2%; 
background: #D86262;
border-radius: 20px;
border:none;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 0% 0% 5% 0%;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1;  */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: #474e5d; */
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    /* background-color: #fefefe; */
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
    width: 35%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  /* hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  } */
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .editp{
    cursor:pointer;
  }
  .deletep{
    cursor:pointer;
  }
  .modal-icon{
    width:10%;
    margin: 2% auto;
  }
  .modal-heading{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
/* line-height: 59px; */
/* identical to box height */

text-align: center;

color: #27AE60;
  }
  .container p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
/* line-height: 38px; */
text-align: center;

color: #4A4A4A;
  }

  #userlist{
    display:block;
    }
  #userdesc{
    display: none;
  }

  .user-card{
    background:#EFF0F2;
    border-radius: 30px;
    padding: 5%;
    display: flex;
    margin-bottom: 5%;
  }
  .user-info{
    padding:0% 3%;
    width: 100%;
  }
  .user-info h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 48px;

color: #000000;
  }
  .user-info p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* text-align: center; */
color: #000000;

  }
  .profile-info img{
    float:left;
    padding-right: 5%;
  }
  #userdesc h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #417D7A;
  }
.return-btn{
  background: #007074;
  border-radius: 8px;
  border: none;
  padding: 3% 10%;
  color: #ffffff;
  font-weight: 500;
}
table.deliver-table{
  border-collapse: separate;
  border-spacing: 0 15px;
}


