<div>
    <app-menu></app-menu>
</div>
<div class="main-div row" > 
    <div class="vertical-div col-2" style="cursor:pointer">    
            <!-- <img routerLink="/landing" class="admin-logo" src="../../assets/images/circular economy logo.png" alt="logo"> -->
            <p class="options" (click)="func_dashboard($event)">
                <span class="icon"><img src="../../assets/images/dashboard.svg" alt="dashboard"></span>
                <span class="text">Dashboard</span>
            </p>
            <p class="options" [ngStyle]="{'border-bottom':(user==true)? '2px solid var(--ion-color-primary)': 'none'}"
            (click)="func_user($event)">
                <span class="icon"><img src="../../assets/images/manage user.svg" alt="dashboard"></span>
                <span class="text">Manage User</span>
            </p>
            <p class="options"  [ngStyle]="{'border-bottom':(request==true)? '2px solid var(--ion-color-primary)': 'none'}"
            (click)="func_request($event)">
                <span class="icon"><img src="../../assets/images/request.svg" alt="dashboard"></span>
                <span class="text">Request</span>
            </p>        
        <!-- <hr class="line">                 -->
    </div>
    <div class="col-10">
        <div class="profile-icons">
            <img src="../../assets/images/notification.svg" alt="notification"> 
            <img src="../../assets/images/Message.svg" alt="message">            
        </div>  
        <div *ngIf="dashboard" class="content-div" >
            <div class="drag-area">
                <span class="icon-file">
                    <!-- <button color="tertiary" (click)="uploadFile()">Upload</button> -->
                    <!-- <button color="danger" (click)="deletephoto()">Delete</button> -->
                    <button><input #imageInput type="file" accept="image/*" (change)="processFile($event)"></button>                    
                </span>
            </div> 
            <div class="product-form">
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-details">
                    <!-- [formGroup]="productForm" (ngSubmit)="onSubmit()" -->
                    <label for="nameproduct">Name of Product </label><br>
                    <input id="nameproduct" type="text" formControlName="nameproduct" placeholder="enter name here">
                    <br>
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" formControlName="quantity" min="0" max="100" step="10" value="30">
                    <br>
                    <label for="description">Description of Product </label><br>
                    <textarea id="description" rows="4" cols="84" formControlName="description" placeholder="enter description"></textarea>
                    <br>
                    <label for="location">Location of Product </label><br>
                    <input id="location" type="text" formControlName="location" placeholder="enter location here">
                    <br>
                    <label for="serial">Serial Number of Product </label><br>
                    <input id="serial" type="text" formControlName="serial" placeholder="enter serial number">
                    <br>
                    <label for="brand">Brand of product </label><br>
                    <input id="brand" type="text" formControlName="brand" placeholder="enter brand here">   
                    <br>
                    <!-- <label for="age">Enter Age: </label>
                    <input id="age" type="number" formControlName="age">   
                    <br>   -->
                    <label for="year">Year of Product Manufacture </label><br>
                    <input id="year" type="date" formControlName="year" placeholder="enter manufacture date">   
                    <br>
                    <button class="product-submit" type="submit" (click)="uploadFile()">Submit</button>
                </form>
            </div>
        </div> 
        <div *ngIf="user" class="user_div">
            
            <!-- <div>users</div> -->
            <div class="search_user">
                <!-- <app-searchbar (searchTextChanged)="onSearchTextEntered($event)"></app-searchbar> -->
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                <!-- <input type="search" placeholder="search"> -->
                <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
            </div>
            <div>
                <table>
                    <tr class="headings">
                        <th>Name</th>
                        <th>CompanyId</th>
                        <th>Action</th>
                    </tr>
                    <!-- *ngIf="searchtext === '' || list.firstname.toLowerCase().includes(searchtext)" -->
                        <tr *ngFor="let list of userlist | filter:term"  class="user_data">
                            <td class="user_name">{{list.firstname}}</td>
                            <td class="user_id">{{list.id}}</td>
                            <td>
                                <button (click)="adduser(list)" class="accept-btn">Accept</button>
                                <button (click)="deleteuser(list)" class="decline-btn">Decline</button>
                            </td>
                            <hr>                                                   
                        </tr>
                        <hr>                    
                </table>
            </div>    
        </div>
        <div *ngIf="request">
            <div class="search_user">
                <!-- <app-searchbar (searchTextChanged)="onSearchTextEntered($event)"></app-searchbar> -->
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                <!-- <input type="search" placeholder="search"> -->
                <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
            </div>
            
            <ng-container>
                <div id="reqitem">                    
                    <table>
                        
                            <tr class="headings">
                                <th>Name</th>
                                <th>Item</th>
                                <th>Available</th>
                                <th>Action</th>
                            </tr>
                        
                            <!-- *ngIf="searchtext === '' || req.employeename.toLowerCase().includes(searchtext)" -->
                            <tr *ngFor="let req of item | filter:term">
                                <td>{{req.employeename}}</td>
                                <td>{{req.name}}</td>
                                <td>{{req.quantity}}</td>
                                <td>
                                    <button [ngStyle]="{background:getcolorreview(req)}" (click)="reviewRequest(req)" class="review-btn" id="review">Review</button>
                                    <button [ngStyle]="{background:getcolorprocess(req)}"  (click)="processRequest(req)" class="process-btn" id="process">Process</button>
                                    <button [ngStyle]="{background:getcoloraccept(req)}" (click)="acceptRequest(req)" class="accept-btn" id="accept">Accept</button>
                                    <button [ngStyle]="{background:getcolordeliver(req)}" (click)="deliverRequest(req)" class="deliver-btn" id="deliver">Deliver</button>
                                    <button (click)="deleterequest(req)" class="decline-btn">Decline</button>
                                </td>
                                <hr>
                            </tr>
                        
                        
                        <hr>
                    </table>
                </div>
            </ng-container>
        </div>
    
    </div>
</div>
