h1{
    margin: 0 !important;
    
    color: #ffffff;
    padding: 1%;
}
.row{
    margin-right: 0 !important;
}
/* button{
    position: absolute;
    background-color: #3f51b5;
    border: none;
    color: #ffff;
} */

span{
    display: block;

}
#menu{
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    width: 60px;
    overflow:hidden;
}
#menu.horizTranslate {
    width:60px;
    -webkit-transition: width 3s;
    -moz-transition: width 3s;
    -ms-transition:width 3s;
    -o-transition:width 3s;
    transition:width 3s;
    
  }
#menu svg{
   fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
#icons{
    min-width: 56px;
    color: rgba(0, 0, 0, 0.54);
    display: inline-flex;
    flex-shrink: 0;
}
#menu-item{
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    text-decoration: none;
}
#item-name{
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}


  

