<div>
  <app-menu></app-menu>
</div>
<div>
  <div class="home">
    <div class="row">
      <!-- <div class="col-1"></div> -->
      <div class="col-5 desc">
        <h1 class="img-title">Macbook Pro 16 inch</h1>
        <p class="img-desc">2020 Apple MacBook Pro 
        (13.3-inch/33.78 cm, Apple M1 chip with 8-core CPU and 8-core GPU, 8GB RAM, 256GB SSD) - Silver</p>
        <p class="location">
          <span><img src="../../assets/images/location.svg" alt="location"></span>
          <span style="margin-left:8%">Hyderabad</span>
        </p>
        <!-- <button class="request">Request Item</button> -->
      </div>
      <div class="col-2"></div>
      <div class="col-5 ">
        <img class="banner" src="../../assets/images/macbook pro.png" alt="banner">
      </div>
    </div>
  </div>
  <div>    
    <h2 class="div-title">Popular products</h2>    
    <hr class="line">
  </div>
  <div class="prod-div">
    <span class="prod">
      <label>Recent</label>
      <label>Most Requested</label>
    </span>
  </div>
  <div id="inventory" style="padding: 12px;">
    <ng-container *ngFor="let prods of productlist;let i=index">
      <div id="products">
        <div>
          <div id="product-img">
            <img (click)="getproductdetails(prods)" src="http://3.111.188.154:3000/api/containers/images/download/{{prods.imagename}}" style="cursor:pointer"/>
          </div>          
          <div style="padding: 10px;">
            <p>
              <span (click)="getproductdetails(prods)" class="asset-title" style="cursor:pointer">{{prods.name}}</span>
              <span class="asset-stock">{{prods.quantity}} available</span>
            </p>
            <span><img src="../../assets/images/location.svg" alt="location"></span>
            <span style="margin-left:1%">{{prods.location}}</span>
            <div *ngIf="LoggedIn1()">
              <div *ngIf="user1">
                <div class="quantity-div">
                  <div class="input-group">                
                    <input class="plusminus" (click)="decrement(prods)" value="-" readonly>
                    <input type="number" class="num" min="1" max="{{productStock}}" value="prods.value" [(ngModel)]="prods.value" readonly>
                    <input class="plusminus" (click)="increment(prods)" value="+" max="{{productStock}}" readonly>
                  </div>
                  <div class="submit-div">
                    <button (click)="openpop(prods)" class="asset-btn">Submit</button>
                  </div>
                </div>
              </div>

            </div>
                     
          </div>
        </div>
      </div>
    </ng-container> 
    <div id="id02" class="modal">
      <form class="modal-content">
          <img class="modal-icon" src="../../assets/images/Success.svg" alt="trash">
          <div class="container">
            <h1 class="modal-heading">SUCCESS</h1>
            <p>Thank you for your request</p>
    
              <div class="clearfix">
                  <button class="modal-button" type="button" class="okaybtn" (click)="okaypopup()">Okay</button>
              </div>
          </div>
      </form>
  </div>
  </div>
</div>
<app-footer></app-footer>


