<div>
  <app-menu></app-menu>
</div>
<div>
  <div class="home">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4 desc">
        <h1 class="img-title">Macbook Pro 16 inch</h1>
        <p class="img-desc">2020 Apple MacBook Pro 
        (13.3-inch/33.78 cm, Apple M1 chip with 8-core CPU and 8-core GPU, 8GB RAM, 256GB SSD) - Silver</p>
        <p class="location">
          <span><img src="../../assets/images/location.svg" alt="location"></span>
          <span style="margin-left:8%">Hyderabad</span>
        </p>
        <button class="">Request Item</button>
      </div>
      <div class="col-2"></div>
      <div class="col-5 ">
        <img class="banner" src="../../assets/images/macbook pro.png" alt="banner">
      </div>
    </div>
  </div>
</div>

