<div>
<app-menu></app-menu>
</div>
<div>
  <h1>Profile</h1>
  
    <div class="profile_card">
      <p>Firstname: {{activeuser.firstname}}</p>
      <p>Lastname: {{activeuser.lastname}}</p>
      <p>Email: {{activeuser.email}}</p>
      <p>Username: {{activeuser.username}}</p>
      <p>Role: {{activeuser.role}}</p>
      <p>Mobile Number: {{activeuser.mobile}}</p>
    </div>
  <form [formGroup]="editform" (ngSubmit)="save_modified_form()"class="profile_card" >
   <p>Firstname:<input type="text" placeholder="{{activeuser.firstname}}"></p>
   <p>Lastname:<input type="text" placeholder="{{activeuser.lastname}}"></p>
   <p>Email:<input type="text" placeholder="{{activeuser.email}}"></p>
   <p>Username:<input type="text" placeholder="{{activeuser.username}}"></p>
   <p>Mobile Number:<input type="text" placeholder="{{activeuser.mobile}}"></p>
   <button id="submit" type="submit">Save Details</button>    
  </form>
  
</div>
<!-- <button routerLink="/add-product">
  Add-product
</button> -->

  
