<div>
<app-menu></app-menu>
</div>
<div>
  <h1>Profile</h1>
  
  <div id="profile_details" class="profile_card">      
    <p>Firstname: {{activeuser.firstname}}</p>            
    <p>Lastname: {{activeuser.lastname}}</p>
    <p>Email: {{activeuser.email}}</p>
    <p>Username: {{activeuser.username}}</p>
    <p>Role: {{activeuser.role}}</p>
    <p>Mobile Number: {{activeuser.mobile}}</p>
    <button (click)="editdetails()">Edit details</button>
  </div>
  <form id="profile_edit" [formGroup]="editform" (ngSubmit)="save_modified_form()" class="profile_card">
   <p>Firstname:<input type="text" placeholder="{{activeuser.firstname}}" formControlName="firstname"></p>
   <p>Lastname:<input type="text" placeholder="{{activeuser.lastname}}" formControlName="lastname"></p>
   <p>Email:<input type="text" placeholder="{{activeuser.email}}" formControlName="email"></p>
   <p>Username:<input type="text" placeholder="{{activeuser.username}}" formControlName="username"></p>
   <p>Mobile Number:<input type="number" placeholder="{{activeuser.mobile}}" formControlName="mobile"></p>
   <button id="submit" type="submit">Save Details</button>    
  </form>
  
</div>


  
