<div>
  <app-menu></app-menu>
</div>
<div style="margin-bottom:10%">
  <div id="profile_details">
    <div class="profile-details">
      <!-- <h1>Profile</h1> -->
    <!-- <hr>  -->
    </div>
    <div class="row">
      <!-- <div class="col-1"></div> -->
      <div class="col-4" *ngIf="LoggedIn()">
        <div class="profile-container" *ngIf="admin">
          <div class="profile-card centered-element">
            <img src="../../assets/images/profile.jpg" alt="profile">
            <!-- <p class="my-orders">My Orders</p> -->
            <p class="chng-pwd">Change Password</p>
          </div>
        </div>
        <div class="profile-container" *ngIf="user">
          <div class="profile-card centered-element">
            <img src="../../assets/images/profile.jpg" alt="profile">
            <p class="my-orders">My Orders</p>
            <p class="chng-pwd">Change Password</p>
          </div>
        </div>
      </div>
      <div  class="profile_card"> 
        <img src="../../assets/images/edit.png" alt="edit" (click)="editdetails()">
        <div>
          <h6 class="username">{{activeuser.firstname}} {{activeuser.lastname}}</h6>   
          <p>{{activeuser.role}}</p>          
          <!-- <p>Lastname: {{activeuser.lastname}}</p> -->
          <h6 class="subtitle">Contact Info</h6>
          <div class="profile-info">
            <img src="../../assets/images/email.png" alt="email">
            <p>{{activeuser.email}}</p>
          </div>
          <div class="profile-info">
            <img src="../../assets/images/phone.png" alt="">
            <p>{{activeuser.mobile}}</p>
          </div>
        </div>         
      </div>
    </div>    
  </div>  
  <div id="profile_edit">
    <div class="edit-profile">
      <h1>Edit Profile</h1>
      <hr>
    </div>    
    <form class="row"  [formGroup]="editform" (ngSubmit)="save_modified_form()">
      <div class="col-3">
        <img class="profile-img" src="../../assets/images/profile.jpg" alt="profile">
      </div>
      <div class="col-9">
        <div class="row form-label">
          <p class="col-6"><span>Firstname:</span><br>
            <input type="text" formControlName="firstname" [(ngModel)]="activeuser.firstname"></p>
          <p class="col-6"><span>Lastname:</span><br>
            <input type="text" formControlName="lastname" [(ngModel)]="activeuser.lastname"></p>
        </div>
        <div class="row form-label">
          <p class="col-6"><span>Email:</span><br>
            <input type="text" formControlName="email"  [(ngModel)]="activeuser.email"></p>
          <p class="col-6"><span>Username:</span><br>
            <input type="text" formControlName="username"  [(ngModel)]="activeuser.username"></p>
        </div>
        <div class="row form-label">
          <p class="col-6"><span>Mobile Number:</span><br>
            <input type="number" formControlName="mobile"  [(ngModel)]="activeuser.mobile"></p>
        </div>          
          <button id="submit" type="submit">Submit</button>   
      </div>       
    </form>     
  </div>  
</div>
<app-footer>
</app-footer>


  
