<div class="row" style="height:100%">
  <div class="col-1"></div>
  <div class="col-4 title">
    <h1 class="heading">Welcome to</h1>
    <img class="logo" src="../../assets/images/circular economy logo.png" alt="logo">
  </div>
<div class="col-1"></div>
<div class="col-6 form-reg">
  <h1 class="heading-reg">Sign Up</h1>
    <div id="register">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label for="firstname">First Name: </label><br>
      <input id="firstname" type="text" formControlName="firstname">
      <br>
      <label for="lastname">Last Name: </label>
      <input id="lastname" type="text" formControlName="lastname">
      <br>
      <label for="mobile">Mobile Number: </label>
      <input id="mobile" type="number" formControlName="mobile">
      <br>
      <label for="email">Email: </label>
      <input id="email" type="email" formControlName="email">
      <br>
      <label for="username">Username: </label>
      <input id="username" type="text" formControlName="username">   
      <br>
      <label for="age">Enter Age: </label>
      <input id="age" type="number" formControlName="age">   
      <br>  
      <label for="password">Password: </label>
      <input id="password" type="password" formControlName="password">
      <br>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      <a id="login" routerLink="/login" target="_blank">Already registered?<span style="color:#007074">Login</span></a>
    </form>
    
  </div>
</div>
</div>
<router-outlet></router-outlet>
